form {
    position: relative;
    top: 2px;
    background-color: white;
    border: 20px solid white;
    border-radius: 5px;
    width : 110%;
    transition: 0.2s;
}

.form-row {
    margin: 10px;
    padding: 5px;
    margin-top: 2px;
}

#headercard {
    background-color: orange !important;
    text-align: -webkit-left;
}

.form-row>.col, .form-row>[class*="col-"] {
    padding-right: 15px !important;
    padding-left: 15px !important;
    align-self: center;
}

.gj-datepicker-md i{
    display: none;
}

.btn {
    display: block;

    width: fit-content;
    align-self: center;

    margin: auto;
    background-color: orange !important;
}

#dadoscomerciais {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.form-control {
    font-size: 18px;
}

#input-file-col {
    text-align: -webkit-center;
}

#input-file {
    width: 300px;
    text-align: -webkit-center;
}

#radios {
    text-align: -webkit-center;
}

#input-img {
    text-align: center;
}

img {
    vertical-align: middle;
    border-style: none;
    width: 180px;
}

.btn.btn-outline-secondary {
    color: #333333;
    box-shadow: 0 2px 2px 0 rgba(244, 67, 54, 0.14), 0 3px 1px -2px rgba(244, 67, 54, 0.2), 0 1px 5px 0 rgba(244, 67, 54, 0.12);
    border-radius: 30px;
}
