{% extends 'base.html' %}

{% block content %}
<div class="card card-profile ml-auto mr-auto" style="max-width: 360px">
  <div class="card-header card-header-image">
        <a href="#pablo">
            <img class="img" src="https://i.ibb.co/3mtMgyf/FB-IMG-1575382517342.jpg" rel="nofollow">
        </a>
    </div>

    <div class="card-body ">
        <h3 class="card-title">Felipe Machado F. Mayer</h3>
        <h6 class="card-category text-gray">Jr Developer</h6>
    </div>
    <div class="card-footer justify-content-center">
        <a href="https://github.com/felipefoc" class="btn btn-just-icon btn-github btn-round">
            <i class="fa fa-github"></i>
        </a>
        <a href="#pablo" class="btn btn-just-icon btn-facebook btn-round">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="mailto:felipemfmayer@gmail.com" class="btn btn-just-icon btn-google btn-round">
            <i class="fa fa-google"></i>
        </a>
    </div>
</div>
{% endblock %}