<div class="modal fade" id="exampleModal{{user.id}}" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Alterar senha do
                    usuário {{user.nome}}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" action="/admin/senhasalva{{user.id}}">
                <div class="modal-body">
                    <label>Nova senha:</label>
                    <input type="password" class="form-control" name="newpass"
                           required>
                    <label>Digite novamente:</label>
                    <input type="password" class="form-control" name="newpass2"
                           required>
                </div>
                <a href="/admin/senhasalva{{user.id}}">
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Salvar
                        </button>
                    </div>
                </a>
            </form>
        </div>
    </div>
</div>