<div class="modal fade" id="EditModal{{user.id}}" tabindex="-1"
     role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="edit">
            <div class="modal-header">
                <h5 class="modal-title" id="EditModal">Perfil:
                    {{user.nome}}</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="row" style="text-align: center;">
                    <div class="col" style="text-align: -webkit-center;">
                        <div id="foto">
                            <img id="img"
                                 src="/static/uploads/usuarios/{{user.foto_usuario}}">
                        </div>
                        <br>
                    </div>
                </div>
                <table class="table" id="table_edit">
                    <tbody>
                    <tr>
                        <td width="10%">ID</td>
                        <td><input type="text" value="{{user.id}}" id="id" name="id"></td>
                    </tr>
                    <tr>
                        <td>Nome:</td>
                        <td><input type="text" value="{{user.nome}}" id="nome" name="nome" readonly></td>
                    </tr>
                    <tr>
                        <td>Nome da mãe:</td>
                        <td><input type="text" value="{{user.nome_da_mae}}" id="nome_da_mae" name="nome_da_mae"></td>
                    </tr>
                    <tr>
                        <td>RG:</td>
                        <td><input type="text" value="{{user.rg}}" id="rg" name="rg"></td>
                    </tr>
                    <tr>
                        <td>CPF:</td>
                        <td><input type="text" value="{{user.cpf}}" id="cpf" name="cpf"></td>
                    </tr>
                    <tr>
                        <td>Apelido/Login:</td>
                        <td><input type="text" value="{{user.apelido}}" id="apelido" name="apelido"></td>
                    </tr>
                    <tr>
                        <td>Data de Nascimento:</td>
                        <td><input type="text" value="{{user.data_de_nascimento}}" id="data_de_nascimento"
                                   name="data_de_nascimento"></td>
                    </tr>
                    <tr>
                        <td>E-mails:</td>
                        <td><input type="text" value="{{user.email}}" id="email" name="email"></td>
                    </tr>
                    <tr>
                        <td>Status:</td>
                        <td><input type="text" value="{{user.is_active}}"></td>
                    </tr>
                    <tr>
                        <td>Gerente:</td>
                        <td><input type="text" value="{{user.gerente}}" id="gerente" name="gerente"></td>
                    </tr>
                    <tr>
                        <td>Loja:</td>
                        <td><input type="text" value="{{user.loja_nome}}" id="loja_nome" name="loja_nome"></td>
                    </tr>
                    <tr>
                        <td>Cargo:</td>
                        <td><input type="text" value="{{user.cargo}}" id="cargo" name="cargo"></td>
                    </tr>
                    <tr>
                        <td>Data de admissão:</td>
                        <td><input type="text" value="{{user.data_de_admissao}}" id="data_de_admissao"
                                   name="data_de_admissao"></td>
                    </tr>
                    {% for res in user.dados_residenciais %}
                    <tr>
                        <td>Logradouro:</td>
                        <td><input type="text"
                                   value="{{res.logradouro}} - Número: {{res.numero}} - Complemento: {{res.complemento}}">
                        </td>
                    </tr>
                    <tr>
                        <td>Bairro:</td>
                        <td><input type="text" value="{{res.bairro}}"></td>
                    </tr>
                    <tr>
                        <td>Cidade:</td>
                        <td><input type="text" value="{{res.cidade}}"></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>Cadastrado por:</td>
                        <td><input type="text" value=""></td>
                    </tr>
                    </tbody>
                </table>
                <div id="editor"></div>
            </form>
            <a href="#">
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">Editar
                    </button>
                    <button class="btn btn-primary" id="btn"
                            type="button" onclick="CreatePDFfromHTML()">
                        Imprimir
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>