<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <title>Formulário A4</title>

    <style>
        html { font-size: 12pt; }

        .folha { background-color: #ccc; padding: 0.5em; }
        .a4_vertical { width: 793px; height: 1122px; }
        .a4_horizontal { width: 1122px; height: 793px; }

        .container { border: 5px solid black;  }
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <div class="logo">
            <img src="">
        </div>
    </div>
</div>
</body>
</html>