{% extends 'admin//base_admin.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../static/assets/js/jquery.mask.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
<script src="https://unpkg.com/gijgo@1.9.13/js/messages/messages.pt-br.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-masker/1.1.0/vanilla-masker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
<link href="{{ url_for('static', filename='assets/css/admin/cadastrar.css') }}" rel="stylesheet">


{% endblock %}
{% block title %}Novo Corretor{% endblock %}

{% block style %}
{% endblock %}


{% block content %}


<form method="post" class="card card-nav-tabs" id="form" name="form_consulta" enctype="multipart/form-data">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <!------------------------------------- DADOS GERAIS --------------------------------------------------------->
    {% include 'admin/signup/dados_gerais.html' %}

    <!------------------------------------- DADOS FINANCEIROS ---------------------------------------------------->
    {% include 'admin/signup/dados_financeiros.html' %}

    <!------------------------------------- DADOS COMERCIAIS ---------------------  -------------------------------->
    {% include 'admin/signup/dados_comerciais.html' %}

    <button class="btn btn-primary" id="submit">Enviar</button>
    <br>

</form>

<script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  var xhr = new XMLHttpRequest();
</script>


<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/admin/cadastrar.js') }}"></script>

{% endblock %}


