{% extends 'admin//base_admin.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='assets/css/admin/users/users.css') }}" rel="stylesheet"/>

{% endblock %}


{% block title %}## SySCred ## Usuários{% endblock %}

{% block content %}
<!-------------------------------------------TABLE----------------------------------------->
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h5 class="card-title">Usuários no sistema</h5>
                        <p class="card-category"> Aqui estão os usuários do sistema.</p>
                    </div>
                    <div class="card-body">
                        <div class="form-group no-border" id="searchbar">
                            <input type="text" class="form-control" placeholder="Procurar corretor" name="search"
                                   id="search">
                            <a type="button" class="btn btn-just-icon btn-round"
                               href="{{ url_for('admin.search') }}">
                            <i class="material-icons">search</i>
                            </a>
                            <a type="button" href="{{ url_for('admin.users') }}" class="btn btn-just-icon btn-round">
                                <i class="material-icons">arrow_back</i>
                            </a>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                filtrar
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{url_for('admin.resultado', filter='Desativados')}}">por
                                    Desativados</a>
                                <a class="dropdown-item" href="{{url_for('admin.resultado', filter='Administrador')}}">por
                                    Administradores</a>
                                <a class="dropdown-item" href="{{url_for('admin.resultado', filter='Cpf')}}">por Pessoa
                                    Física</a>
                                <a class="dropdown-item" href="{{url_for('admin.resultado', filter='Cnpj')}}">por Pessoa
                                    Jurídica</a>
                            </div>
                        </div>
                        <a href="{{url_for('admin.cadastrar')}}">
                            <button type="button" class="btn btn-round" id="btncadastrar">
                                Cadastrar novo <i class="material-icons">assignment</i>
                            </button>
                        </a>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="text-center">ID</th>
                                    <th>Nome/Sobrenome</th>
                                    <th>CPF/CNPJ</th>
                                    <th>Email</th>
                                    <th>Apelido</th>
                                    <th>Loja</th>
                                    <th>Gerente</th>
                                    <th>Telefone</th>
                                    <th>Rg</th>
                                    <th>Criado em</th>
                                    <th>Administrador</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if usuarios.items|length == 0 %}
                                <script>swal.fire('Nenhum usuário encontrado');</script>
                                {% endif %}
                                {% for user in usuarios.items %}
                                {% if user.is_active == False %}
                                <tr style="color:red;">
                                    {% else %}
                                <tr>
                                    {% endif %}
                                    <td class="text-center">{{user.id}}</td>
                                    <td style="max-width:150px; white-space: pre-wrap;">{{user.nome}}</td>
                                    {% if user.cpf == None %}
                                    <td>{{user.dados_comerciais[0].cnpj}}</td>
                                    {% else %}
                                    <td>{{user.cpf}}</td>
                                    {% endif %}
                                    <td>{{user.email}}</td>
                                    <td>{{user.apelido}}</td>
                                    <td>{{user.loja_nome}}</td>
                                    <td>{{user.gerente}}</td>
                                    <td>{{user.tel_residencial}}<br/>{{user.tel_cel}}</td>
                                    <td>{{user.rg}}</td>
                                    <td>{{user.created_at.strftime('%d/%m/%Y %H:%m')}}</td>
                                    <td id="isadmincircle">
                                        {% if user.is_admin == True %}
                                        <span class="material-icons">check_circle</span>
                                        {% else %}
                                        <span class="material-icons">highlight_off</span>
                                    </td>
                                    {% endif %}
                                    <td id="actions" class="text-center">
                                        <!-------------- Modal Content ---------------->
                                        {% include 'admin/users/actions_pass_modal.html' %}
                                        {% include 'admin/users/actions_edit_modal.html' %}
                                        <!------------ Actions ------------------------>
                                        {% include 'admin/users/actions.html' %}
                                        {% endfor %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            {% include "pagination/pagination.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!----------------- ENDTABLE ------------------------------->
<script type="text/javascript"
        src="{{ url_for('static', filename='assets/js/users/users.js') }}"></script>

{% endblock %}