




{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}


{% if category == 'primary' %}
    {% set icon = 'label' %}
        {% endif %}
{% if category == 'info' %}
    {% set icon = 'priority_high' %}
        {% endif %}
{% if category == 'success' %}
    {% set icon = 'check' %}
        {% endif %}
{% if category == 'danger' %}
    {% set icon = 'error' %}
        {% endif %}
{% if category == 'warning' %}
    {% set icon = 'warning' %}
        {% endif %}
{% if category == 'default' %}
    {% set icon = 'none' %}
        {% endif %}


<div id="alert">
    <button class="col-11 col-md-4 alert alert-{{category}} alert-with-icon animated fadeInDown"
            onload="md.showNotification('bottom','center')">
        <i data-notify="icon" class="material-icons">{{icon}}</i>
        {{message}}
    </button>
</div>
        {% endfor %}
    {% endif %}
{% endwith %}