{% extends 'base.html' %}

{% block content %}
<table class='table'>
    <thead>
        <tr>
            <th>Nome da tarefa</th>
            <th>Observações</th>
            <th>Criada em</th>
            <th>Finalizada em</th>
            <th>Apagar</th>
        </tr>
    </thead>
    <tbody>
    {% for i in tasks %}
        <tr>            
            <td>{{ i.name }}</td>
            <td>{{ i.tasktext }}</td>
            <td>{{ i.create_at }}</td>
            <td>{{ i.ended_date}}</td>
            <td><a href="{% url 'remove_task' pk=i.pk%}"><i class="material-icons">clear</i></a></td>            
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}