img { 
    border-style: none;
    display: block;
    width: 30%;       
}

table thead th {
    width: 500px;
    max-width: 150px; 
    word-wrap: break-word;
}

table { 
    display: table-cell;
    padding: initial;


}