<h2 class="card-header card-header-warning" id="headercard">Cadastro de funcionário</h2>
<div class="form-row">
    <div class="col">
        <br>
        <label>Nome completo:</label>
        <input type="text" class="form-control" name="nome" required>
    </div>
    <div class="col">
        <br>
        <label>Nome mãe:</label>
        <input type="text" class="form-control" name="nome_mae" required>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <div class="form-check">
            <label class="form-check-label" id="check">
                <input class="form-check-input" type="checkbox" name="checkbox" onclick="form_Check();">
                Prestador de serviço
                <span class="form-check-sign">
                    <span class="check"></span>
                    </span>
            </label>
        </div>
    </div>
    <div class="col">
        <label>CPF:</label>
        <input type="text" class="form-control" id="cpf"
               name="cpf" size="18" onblur="ValidarCPF(this)" required/>
    </div>
    <div class="col">
        <label>Data de nascimento:</label>
        <input type="text" class="form-control" id="datepicker" name="data_de_nascimento" maxlength="10"
               onkeypress="mascaraData(this)" required/>
    </div>
    <div class="col">
        <label>Telefone Residencial:</label>
        <input type="text" class="form-control" name="telephone1" id="tel_residencial">
    </div>
    <div class="col">
        <label>Celular:</label>
        <input type="text" class="form-control" name="telephone2" id="tel_cel" required>
    </div>
    <div class="col">
        <label>Celular:</label>
        <input type="text" class="form-control" name="telephone3" id="tel_cel2">
    </div>
</div>
<div class="form-row">
    <div class="col">
        <label>Apelido/login:</label>
        <input type="text" class="form-control" name="apelido" id="apelido" required>
    </div>
    <div class="col">
        <label>Senha:</label>
        <input type="password" class="form-control" name="senha" required>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <label for="cargo">Cargo:</label>
        <select id="cargo" class="form-control" name="cargo" required>
            <option>Selecione o cargo</option>
            {% for cargo in cargos %}
            {% if cargo.is_active %}
            <option value="{{cargo.nome}}">{{cargo.nome}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label>Nome da Loja:</label>
        <select id="inputloja" class="form-control" name="loja_nome" required>
            <option>Selecione a loja</option>
            {% for loja in lojas %}
            {% if loja.is_active %}
            <option value="{{loja.nome}}">{{loja.nome}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label>Gerente:</label>
        <select class="form-control" name="gerente" required>
            <option>Selecione o gerente</option>
            {% for gerente in gerentes %}
            {% if gerente.is_active %}
            <option value="{{gerente.nome}}{{gerente.sobrenome}}">{{gerente.nome}}{{gerente.sobrenome}}</option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <label>RG:</label>
        <input type="text" class="form-control" name="rg" id="rg" required>
    </div>
    <div class="col">
        <label>Data de emissão do RG:</label>
        <input type="text" class="form-control" id="datepicker1" name="data_de_emissao" maxlength="10"
               onkeypress="mascaraData(this)" required/>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <label>CEP:</label>
        <input type="text" class="form-control" id="cep" name="CEP" onblur="pesquisacep(this.value);" required>
    </div>
    <div class="col">
        <label>Logradouro:</label>
        <input type="text" class="form-control" id="rua" name="logradouro" required>
    </div>

    <div class="col">
        <label>Nº:</label>
        <input type="text" class="form-control" name="numero" required>
    </div>
    <div class="col">
        <label>Complemento:</label>
        <input type="text" class="form-control" name="complemento">
    </div>
    <div class="col">
        <label>Bairro:</label>
        <input type="text" class="form-control" id="bairro" name="bairro" required>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <label>Estado:</label>
        <input id="uf" class="form-control" name="estado">
    </div>
    <div class="col">
        <label>Cidade:</label>
        <input id="cidade" class="form-control" name="cidade">
    </div>
    <div class="col">
        <label>E-mail:</label>
        <input class="form-control" type="email" name="email" required>
    </div>
    <div class="col">
        <label>E-mail²:</label>
        <input class="form-control" type="email" name="email2">
    </div>
    <div class="col">
        <label for="datepicker2">Data de admissão:</label>
        <input type="text" class="form-control" id="datepicker2" name="data_de_admissao" maxlength="10"
               onkeypress="mascaraData(this)" required/>
    </div>
</div>
<div class="form-row">
    <div class="col">
        <div class="form-group">
            <label for="observ">Observações:</label>
            <textarea class="form-control" id="observ" rows="6" cols="180" name="obs"></textarea>
        </div>
    </div>
    <div class="col" id="input-img">
        <div class="fileinput fileinput-new text-center" data-provides="fileinput">
            <div class="fileinput-new thumbnail img-raised">
                <img src="http://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" rel="nofollow"
                     alt="...">
            </div>
            <div class="fileinput-preview fileinput-exists thumbnail img-raised" id="imgraised"></div>
            <div>
                    <span class="btn btn-outline-secondary btn-file">
                        <span class="fileinput-new">Selecione a imagem</span>
                        <span class="fileinput-exists">Trocar</span>
                        <input class="btn btn-outline-secondary btn-file" type="file" name="foto_usuario"
                               accept="image" id="foto_usuario"/>
                    </span>
                <a href="#" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i
                        class="fa fa-times"></i> Remover</a>
            </div>
        </div>
    </div>
</div>
<br><br>