<div id="dadoscomerciais">
    <div class="card-header card-header-warning">
        <h2>Dados comerciais</h2>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
            <label>Nome da empresa:</label>
            <input type="text" class="form-control" name="nome_empresa">
        </div>
        <div class="col">
            <label>CNPJ:</label>
            <input type="text" class="form-control" name="cnpj" id="cnpj" onblur="ValidarCNPJ(this)">
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <label>Logradouro:</label>
            <input type="text" class="form-control" name="logradouro_empresa">
        </div>
        <div class="col">
            <label>Nº:</label>
            <input type="text" class="form-control" name="numero_empresa">
        </div>
        <div class="col">
            <label>Complemento:</label>
            <input type="text" class="form-control" name="complemento_empresa">
        </div>
        <div class="col">
            <label>Perfil Comercial:</label>
            <select class="form-control" id="perfil_comercial" name="perfil_comercial">
                <option>Selecione o perfil</option>
                {% for perfil in perfil_comercial %}
                <option value="{{perfil.valor}}">{{perfil.valor}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>