<div id="dadosfinanceiros">
    <div class="card-header card-header-warning">
        <h2>Dados financeiros</h2>
    </div>
    <br>
    <div class="form-row">
        <div class="col">
            <label for="banco">Banco</label>
            <select class="form-control" id="banco" name="banco">
                <option>Selecione o banco</option>
                {% for banco in bancos %}
                <option value="{{banco.codigo}}-{{banco.banco}}">{{banco.codigo}} - {{banco.banco}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="agencia">Agência</label>
            <input type="text" id="agencia" name="agencia" class="form-control">
        </div>
        <div class="col" id="radios">
            <label for="radio">Tipo de conta</label>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radio" id="radio"
                           value="cc">
                    Conta corrente
                    <span class="circle">
            <span class="check"></span>
                        </span>
                </label>
            </div>
            <div class="form-check form-check-radio">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="radio" id="radio2"
                           value="cp" checked>
                    Conta poupança
                    <span class="circle">
            <span class="check"></span>
                        </span>
                </label>
            </div>
        </div>
        <div class="col">
            <label for="conta">Conta</label>
            <input type="text" id="conta" name="conta" class="form-control">
        </div>
    </div>
</div>
<br>