{% extends 'base.html' %}
{% block style %}
.card {
    display: inline-table;
}

{% endblock %}
{% block content %}


<form method="POST" action="">
{% csrf_token %}

    {{form.url.label}}
    {{form.url}}
    {{form.url.errors}}
    
    <button type="submit" class="btn btn-info btn-danger">Pesquisar video</button>
    <p class="cmuted">Por conta do servidor ser <i>free</i>, videos ácima de 10 minutos respondem com <b>Timeout</b>.
</form>
<br>
<h1> Histórico de videos </h1>
{% for video in history %}
<div class="card" style="width: 20rem;">
  <img class="card-img-top" src="{{video.thumbnail}}" rel="nofollow" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{video.title}}</p><br>
    <p class="card-text"><a href="{{video.url}}">{{video.url}}</a></p>
  </div>
</div>
{% endfor %}

{% endblock %}