img { 
    border-style: none;
    display: block;
    width: 30%;       
}

table thead th {
    width: 500px;
    max-width: 150px; 
    word-wrap: break-word;
}

table { 
    display: table-cell;
    padding: initial;
}

#cards {
    display: inline-table;
}

#material-icon {
    position: absolute;
    left: 90%;
    top: 3%;
    border-radius: 20px;
    background: white;
    border-color: black;
    color: black;
}

#material-icons {
    position: absolute;
    left: 2%;
    top: 3%;
    border-radius: 20px;
    background: white;
    border-color: black;
    color: black;
}