#btncadastrar {
display: inline-block;
float: right;
margin: auto;
background-color: orange !important;
}

#submit {
}


//#modalcontent {
display: contents;
}

tr {
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.table{
table-layout: auto;
line-height: initial;
}

tbody tr:hover {
background-color: #5f81a92b;
}

tr .btn{
padding: 5px 5px;
background-color: orange !important;
}

//#formbox {
display: contents;
text-align-last: center;
float: right;
}

#searchbar {
display: inline-flex;
float: left !important;
}

#search {
margin-left: 5px;
}

#isadmincircle {
text-align: -webkit-center;
}

.bmd-form-group .form-control, .bmd-form-group label, .bmd-form-group input::placeholder {
    line-height: 1.1;
    text-align: -webkit-center;
}

#foto {
min-width: 550px;
min-height: 400px;
}

#img {
width: 100%;
height: 400px;
object-fit: contain;
}


#edit {
inline-size: fit-content;
}

.modal-title {
display: contents;
}

.modal-content {
padding: 15px;
}

#pagination {
    display:flex;
    align-items: center;
}

#pagination p{
    margin-left: auto;
}

#table_edit>tbody>tr>td {
    position: relative;
    border: 0.2px solid;
    font-weight: bold;
    text-align: -webkit-left;
}

.page-item.active .page-link {
    z-index: 1;
    color: #ffffff;
    background-color: #9e38b4 !important;
    border-color: #2196f3;
    border-radius: 100px !important;
}


